jupyterlab==2.1.4
oauthenticator==0.11.0
pypandoc==1.5
pyspark==2.4.5
s3contents==0.4.0
sparkmagic==0.15.0
hybridcontents==0.3.0
jupyterhub-passthroughauth==0.0.1
git-remote-codecommit==1.13
jupyterhub-idle-culler==1.0
jupyterlab-git==0.21.0rc0

pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability